@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
#filter {
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 100;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  transform: translateX(-100%);
}

#filter #filter-heading {
  text-align: center;
}

#filter ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

#filter ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

#filter ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

#filter .filter-subheading {
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

button {
  border: 2px solid #161414;
}

button:focus {
  outline: none;
}

input[type='text'] {
  display: block;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 15px;
  height: 30px;
}

.grid-container {
  margin: 5px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1% 1%;
  grid-template-areas: '. . . .' '. . . .' '. . . .';
}

.item {
  display: flex;
  flex-direction: column;
}

.item img {
  height: 400px;
  width: 400px;
}

.item .details {
  position: relative;
}

.filter-subheading {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.filter-subheading {
  background-color: #ccc;
}

.panel {
  padding: 0 5px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.price {
  width: 100%;
  margin: 0;
}

.price .price-range {
  margin: 0;
  padding: 0;
  width: 100%;
}

.price .values {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'sans-serif';
  margin: 0;
  transition: transform 0.3s ease;
}

.toggle-bar.active {
  background-color: black;
}

#navigation-menu {
  background: #000000da;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  display: flex;
  position: relative;
}

#navigation-menu #navigation-menu {
  background: #000000da;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  display: flex;
  position: relative;
}

#navigation-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#navigation-menu li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation-menu li a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

#navigation-menu li:hover {
  background-color: black;
}

#nav-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

#nav-right ul li a {
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

body.show-filter {
  transform: translateX(250px);
  /* This is the width of the #filter . 100% will make it go to right most and leave an empty blank space on the left */
}

.search-bar {
  height: 30px;
  position: absolute;
  border-radius: 8px;
  top: 0px;
  right: 250;
  transform: translate(-160px, 20px);
}

#search {
  width: 250px;
}

.left-view {
  position: absolute;
  top: 20px;
  right: 0;
}

.item-price {
  font-size: 30px;
}

.add-to-cart i {
  font-size: 25px;
}

.collection-tags {
  display: block;
}

.collection-tags button {
  border-radius: 10px;
  background-color: #292929;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 5px;
}

.no-result {
  font-size: large;
  color: red;
}

footer {
  margin: 15px 0;
}

footer .pagination {
  display: inline-block;
}

footer .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

footer .pagination a:hover:not(.active) {
  background-color: #ddd;
}

footer .pagination .active {
  background-color: black;
  color: white;
}
/*# sourceMappingURL=style.css.map */