@mixin button-tag {
   button {
      border-radius: 10px;
      background-color: #292929;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      margin: 5px 5px;
      text-transform: capitalize;
   }
}
