@mixin filter-menu {
   #filter {
      background-color: #fff;
      color: $primary-text-color;
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100vh;
      z-index: 100;
      border-right: 2px solid rgba(200, 200, 200, 0.1);
      transform: translateX(-100%);
      #filter-heading {
         text-align: center;
      }
      ul {
         padding: 0;
         list-style-type: none;
         margin: 0;
      }
      ul li {
         border-bottom: 2px solid rgba(200, 200, 200, 0.1);
         padding: 20px;
      }
      ul li:first-of-type {
         border-top: 2px solid rgba(200, 200, 200, 0.1);
      }
      .filter-subheading {
         border-radius: 5px;
      }
   }
}
