@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import 'header_mixin';
@import 'variables';
@import 'grid_mixin';
@import 'filter_mixin';
@import 'accordion_mixin';
@import 'range_mixin';
@import 'buttontags_mixin';
@import 'pagination';

@include filter-menu;
@include button-default;
@include text-default;
@include grid_layout;
@include accordion;
@include price_range;

* {
   box-sizing: border-box;
}

body {
   font-family: 'Lato', 'sans-serif';
   margin: 0;
   transition: transform 0.3s ease;
}
.toggle-bar.active {
   background-color: darken($primary-text-color, 0.5);
}

#navigation-menu {
   background: $primary-color;
   top: 0;
   width: 100%;
   transition: all 0.5s;
   position: relative;
   display: flex;
   position: relative;
   @include navigation_menu;

   li {
      &:hover {
         background-color: darken($primary-text-color, 0.5);
      }
   }
}

#nav-right {
   position: absolute;
   top: 0px;
   right: 0px;
   ul {
      li {
         a {
            justify-content: center;
            align-items: center;
            padding-bottom: 0;
         }
      }
   }
}

body.show-filter {
   transform: translateX(250px);
   /* This is the width of the #filter . 100% will make it go to right most and leave an empty blank space on the left */
}

.search-bar {
   height: 30px;
   position: absolute;
   border-radius: 8px;
   top: 0px;
   right: 250;
   transform: translate(-160px, 20px);
}

#search {
   width: 250px;
}

.left-view {
   position: absolute;
   top: 20px;
   right: 0;
}

.item-price {
   font-size: 30px;
}

.add-to-cart i {
   font-size: 25px;
}

.collection-tags {
   display: block;
   @include button-tag;
}
.no-result {
   font-size: large;
   color: red;
}

footer {
   margin: 15px 0;
   @include pagination;
}
